body {
  color: black;
}
* {
  box-sizing: border-box;
}

.main-banner-section{
    border: 1px solid #fcd4d4;
background: rgba(229, 84, 115, 0.10);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.section-gap{
    margin: 5rem;
    padding: 0.5rem;
}
/* #our-feature-flower{
    background-color: #fff7f7;
} */
.text-center-alingn{
    text-align: center;
}
.banner-heading{
    color: #272727;
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.shopping-helper{
    background-color: crimson;
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    text-align: center;
}


.feature-flower-main {
  width: 80%;
  margin: 20px auto;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.feature-flower-items {
  margin: 5px;
  padding: 5px;
}
.feature-flower-items p {
  text-align: center;
}
.feature-flower-items img {
  width: 300px;
  height: 300px;
}
.instagram-items img {
  width: 250px;
}
.feature-flower-items-small img {
  width: 50px;
  height: 50px;
}
.instagram-section {
  width: 100%;
  height: 400px;
  background-image: url("/assets/images/Rectangle\ 9.png"),
 linear-gradient(45deg, rgb(203, 140, 140), #2e2e2e);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inner-instagram {
  text-align: center;
  margin: auto auto;
}
.largest-section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.largest-deal {
  background-color: bisque;
  width: 70%;
  margin: 20px auto;
}
.get-the-latest-deal{
 
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.text-area {
  width: 50%;
}
.header-img-area {
  width: 50%;
}
.header-img-area img {
  width: 400px;
}
.footer-container-id{
    width: 100%;
    margin: 20px auto;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: black;
    color:white;
}
/* btn style CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}

/* footer section  */
.footer-container {
  background-color: #111010;
  width: 100%;
  height: 300px;
  color: #ffffff;
  margin: 2px;
  padding: 10px;
  text-align: center;
}
.footer {
  width: 100%;
  margin: 30 auto;
  padding: 10px;
  color: #ffffff;
}
